
.downarrow {
  display: block;
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  bottom: -5px;
  left: 50%;
  margin-left: -50px;
  background-color: #ffffff; /** Change This Value ***/
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}


/*
EXPERIENCE SECTION
*/
.position-titles {
  text-align: right;
  padding-right: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em;
  text-indent: -.7em;
}


boldtitle {
  font-size: 20px;
  font-weight: 300;
  color: #45735c;
}

company {
  font-size: 18px;
}

/* seperator */
hr.separator:after {
background: none repeat scroll 0% 0% #000;
content: "";
height: 10px;
left: 50%;
margin: -5px auto auto -5px;
position: absolute;
transform: rotate(-45deg);
width: 10px;
}
hr.separator {
border-top: 1px solid #000;
width: 50%;
clear: both;
}

.mybutton_cyano{
	border: 0px solid #45735c;
	color: #fff;
	background-color:#fff;
}

.mybutton_cyano:hover{
	border-bottom: 2px solid #45735c;
	color: #45735c !important;
	background: #fff;
}

button a {
  color: #888;
  text-transform: none;
}
